:root {
    --headingSize: 50pt;
    --headingColor: blue;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background: white;
}

header div {
    flex-grow: 3;
}

header nav {
    flex-grow: 1;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

.hero {
    height: 400px;
    width: 100%;
    background-image: url("../Images/rolling-waves.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
}

.aboutMe, .work {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.aboutMe h2, .work h2, .contactMe {
    width: 16%;
    padding-right: 20px;
    border-right: 1px;
    border-color: black;
    border-style: solid;
    font-size: var(--headingSize);
    color: var(--headingColor);
    text-align: end;
}

.aboutMe p {
    flex-grow: 1;
    width: 70%;
    line-height: 20pt;
}

.outerCardContainer {
    flex-grow: 1;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    flex-grow: 1;
    margin: 10px;
}

.card-1 {
    width: 97%;
}

.card-2, .card-3, .card-4, .card-5 {
    width: 47%;
}

.card Img {
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.card Img:hover {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}
.cardLabel {
    position: relative;
    bottom: 50px;
    background-color: red;
    width: fit-content;
}

footer {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

footer nav {
    flex-grow: 1;
    width: 70%;
    padding: 60px;
}

footer nav ul {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px){
    .aboutMe, .work, footer, header, header nav ul, footer nav ul{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 992px){
    .work, footer{
        border-top: 1px;
        border-color: black;
        border-style: solid;
    }
}

@media screen and (max-width: 992px){
    .aboutMe h2, .work h2, .contactMe{
        border-right: 0px;
        width: 100%;
        text-align: center;
      }
}








