:root {
    --headingSize: 50pt;
    --headingColor: #1D2228;
}

*{
    Font-family:'Rubik', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #F6F4F2;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: #425664;
    z-index: 2;
    Font-family:'Rubik', sans-serif;
    padding-left: 50px;
    padding-right: 150px;
}

header div {
    flex-grow: 3;
    padding-left: 30px;
}

header div a {
    text-decoration: none;
}

header h1 {
    font-size: var(--headingSize);
    color: white;
    font-weight: bold;
}

header nav {
    flex-grow: 1;
    padding-right: 60px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

a {
    color: white;
    font-size: 15pt;
}

.hero {
    height: 400px;
    width: 100%;
    background-image: url("../Images/rolling-waves.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero p {
    font-size: 3vw;
    font-weight: bold;
    color: white;
    background-color: #425664;
    width: fit-content;
    position: relative;
    top: 281px;
    margin-left: 60%;
    padding: 10px;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 30px;
}

.aboutMe, .work {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.aboutMe h2, .work h2, .contactMe {
    width: 30%;
    padding-right: 20px;
    border-right: 1px;
    border-color: black;
    border-style: solid;
    font-size: var(--headingSize);
    color: var(--headingColor);
    font-weight: bold;
    text-align: end;
}

.aboutMe, .work{
    position: relative;
}

#About-Me, #Work {
    position:absolute; 
    top:-100px;
}

.righAboutMeContainer {
    flex-grow: 1;
    width: 70%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.aboutMe .avatar {
    width: 25%;
    transform: translate(-21px, 3px);

}

.aboutMe p {
    width: 75%;
}

.aboutMe p {
 
    line-height: 20pt;
    align-self: flex-end;
}

.outerCardContainer {
    flex-grow: 1;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
}

.card {
    flex-grow: 1;
    margin: 10px;
}

.card-1 {
    width: 97%;
}

.card-2, .card-3, .card-4, .card-5 {
    width: 47%;
    margin-top: -50px;
}

.card Img {
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.card img:hover {
    box-shadow: inset 0px 0px 8px #1D2228, 0 0 15px #1D2228;
}

.cardLabel:hover {
    box-shadow: inset 0px 0px 8px black, 0 0 15px black;
}

.card a {
    text-decoration: none;
    color: black;
}

.cardLabel {
    position: relative;
    bottom: 80px;
    background-color: #425664;
    width: fit-content;
    padding: 5px;
}

.card-1 .cardLabel {
    position: relative;
    bottom: 100px;
}

.cardLabel h3 {
    font-size: 18pt;
    font-weight: bold;
    padding-bottom: 10px;
    color: white;
}

.cardLabel p {
    font-size: 15pt;
    color: white;
}

.card-1 .cardLabel h3 {
    font-size: 25pt;
    font-style: bold;
}

.card-1 .cardLabel p {
    font-size: 18pt;
}

.cardLabel:hover > a h3 {
    font-size: 25pt;
}

.card-1 .cardLabel:hover > a h3 {
    font-size: 33pt;
}

.cardLabel:hover {
    bottom: 100px;
}

.card-1 .cardLabel:hover {
    bottom: 120px;
}


footer {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 20px;
    Font-family:'Rubik', sans-serif;
    align-items: center;
}

footer nav {
    flex-grow: 1;
    width: 70%;
    padding-left: 20px;
  }

footer nav ul {
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #1D2228;
}

@media screen and (max-width: 992px){
    .aboutMe, .work, footer, header, header nav ul, footer nav ul{
        flex-direction: column;
        align-items: center;
        height: max-content;
    }
}

@media screen and (max-width: 992px){
    .outerContainer, footer {
        align-items: center;
        margin-left: 200px;
    }
}

@media screen and (max-width: 992px){
    header, header nav, footer div, footer nav {
       padding-left: 0%;
       padding-right: 0%;
    }
}

@media screen and (max-width: 992px){
    header li, footer li{
      padding-bottom: 10px;
    }
}


@media screen and (max-width: 992px){
    .work, footer{
        border-top: 1px;
        border-color: black;
        border-style: solid;
    }
}

@media screen and (max-width: 992px){
    .aboutMe h2, .work h2, .contactMe, .righAboutMeContainer{
        border-right: 0px;
        width: 100%;
        text-align: center;
      }
}

@media screen and (max-width: 992px){
    .aboutMe .avatar {
        width: 50%;
        transform: translate(-21px, 3px);
    
    }
}

@media screen and (max-width: 992px){
    .aboutMe p {
        width: 50%;
        text-align: left;
    }
}

@media screen and (max-width: 992px){
    .hero p {
        margin-left: 35%;
    }
}









