<div class="col d-flex justify-content-center flex-column">
    <i class="bi bi-file-code w-max-content align-self-center" style="font-size: 2rem; vertical-align: middle"></i>
    <p class="w-max-content align-self-center">{{skill}}</p>
</div>
