<section id="portfolio" class="flex-grow-1 container-fluid d-flex flex-column justify-content-center">

    <div class="container-fluid d-flex flex-column justify-content-center text-center">
        <h1 class="">Nicholas Cougan</h1>
        <p class="">Welcome to my Portfolio!</p>
    </div>

    {{> page-down section='about-me'}}

</section>

<section id="about-me"  class="flex-grow-1 container-fluid d-flex flex-column justify-content-center">

    <h2 class="text-center py-5">About Me</h2>

    <div class="row justify-content-center">
        <div class="col-sm-7 col-md-9 col-12 d-flex justify-content-center my-2">
            <img id="avatar" src="/assets/Avatar.png" alt="Nicholas Cougan's avatar"/>
        </div>
        <div class="col-sm-10 col-md-12 col-12">
            <p class="text-center">Full Stack Web Developer in training.</p>
            <p class="text-center">Currently completing Monash Unversities Coding Boot Camp.</p>
            <p class="text-center">Experience in:</p>
        </div>
        <div class="col-sm-3 col-md-5 col-12">
            <ul>
                <li><i class="bi bi-file-code" style="font-size: 2rem; vertical-align: middle"></i>HTML</li>
                <li><i class="bi bi-file-code" style="font-size: 2rem; vertical-align: middle"></i>CSS</li>
                <li><i class="bi bi-file-code" style="font-size: 2rem; vertical-align: middle"></i>JavaScript</li>
                <li><i class="bi bi-file-code" style="font-size: 2rem; vertical-align: middle"></i>API's</li>
                <li><i class="bi bi-file-code" style="font-size: 2rem; vertical-align: middle"></i>Node.js</li>
            </ul>
        </div>

    </div>

    {{> page-down section='my-work'}}

</section>

<section id="my-work" class="flex-grow-1 container-fluid d-flex flex-column justify-content-center py-5">

    <h2 class="text-center p-3">My Work</h2>

    <div class="row justify-content-center">

        <div class="col-12 col-md-8 col-lg-6">                  

        <div id="myWorkSlides" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators p-0 m-0">
                <button type="button" data-bs-target="#myWorkSlides" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myWorkSlides" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myWorkSlides" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">              
                {{> carousel-item url='https://project2-memecreation.herokuapp.com/' image='https://user-images.githubusercontent.com/84214872/132187681-bf57826a-7b3a-4956-8c91-71a23cfe2d89.png' title='Meme Creation' description='Social Platform to create and share Memes.' active='active'}}

                {{> carousel-item url='https://tech-blog-cms.herokuapp.com/' image='https://user-images.githubusercontent.com/84214872/131430156-7dbf9d59-cff6-41e8-bab1-0675d560e25b.png' title='Tech Blog' description='Social Platform create and share blog posts.'}}

                {{> carousel-item url='https://github.com/ncougs/Employee-Tracker' image='https://user-images.githubusercontent.com/84214872/129541860-3dee1d6a-88f6-489e-b06d-3b77fa172fa8.gif' title='Employee Trackers' description='Node.js application to manage employees within your business.'}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myWorkSlides" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myWorkSlides" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        </div>

    </div>

    {{> page-down section='contact-me'}}
        
</section>

<section id="contact-me" class="flex-grow-1 container-fluid d-flex flex-column justify-content-center">

    <h2 class="text-center p-3">Contact Me</h2>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 container">
                <h3 class="h3 text-center">Get in touch</h3>
                <a href="mailto: ncougan@gmail.com">
                    <p class="pt-5"><i class="bi bi-envelope mx-2" style="font-size: 2rem; vertical-align: middle"></i>ncougan@gmail.com</p>
                </a>
                <a href="tel:0422289661">
                    <p class=""><i class="bi bi-phone mx-2" style="font-size: 2rem; vertical-align: middle"></i>0422289661</p>
                </a>
            </div>
            <div class="col-lg-6 col-sm-12">
                <form id="contact-form" class="needs-validation">
                    <h3 class="h3">Or send me a message</h3>

                    <div class="mb-3">
                        <label for="name" class="form-label">First name</label>
                        <input type="text" class="form-control" id="name" placeholder="Harry Potter" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea type="text" class="form-control" id="message" rows="3" required></textarea>
                    </div>
                    <button id="form-submit" class="btn btn-primary"type="submit" class="btn btn-primary">contact Me</button>
                </form>
            </div>
        </div>

    </div>

<div class="toast align-items-center text-white bg-primary border-0 position-fixed bottom-0 end-0 p-3" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Thank you for your enquiry, I will respond your email message shortly!
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="module" src="/js/handle-form.js"></script>
