/* Setting variables */
:root {
    /* --headingSize: 50pt;
    --headingColor: #1D2228;
    --backgroundColour: #425664; */
}

/* Universial Styling of font and scroll behaviour */
*, nav{
    font-family: 'Alegreya SC', serif;
    scroll-behavior: smooth;
}

.navbar-light .navbar-brand {
    color: white;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}



.navbar-light .navbar-toggler-icon {
    background-color: white;
}

.navbar-nav, nav .container-fluid {
    align-items: center;
}

#portfolio {
    background-color: #7DA2A9;
    color: white;
}

#my-work {
    background-color: #141824;
    color: white;
}

#about-me {
    background-color: #D48166;
    color: white;
}

#contact-me {
    background-color: #8DB48E;
    color: white;
}

section {
    height: 100vh;
    position: relative;
}

.card {
    color: black;
}

.pageDown {
    position: absolute;
    bottom: 0;
    align-self: center;
}

.bi-arrow-down-circle {
    color: white;
}

#portfolio h1 {
    font-size: 5rem;
}

#portfolio p {
    font-size: 25px;
}

#contact-me p, #about-me p {
    font-size: 22px;
}

#contact-me a {
    color: white;
}

.w-max-content {
    width: max-content;
}

.align-self-center {
    align-self: center;
}

@media screen and (max-width: 768px) {
    #avatar {
        width: 50%;
        height: auto;
    }
}

